<!-- Unregister stale service workers from old PWA caches -->
<script>
  if (typeof navigator !== 'undefined' && 'serviceWorker' in navigator) {
    navigator.serviceWorker.getRegistrations().then(function(registrations) {
      for (var i = 0; i < registrations.length; i++) {
        registrations[i].unregister();
      }
    });
  }
</script>

<!-- Umami Analytics & Session Recording (Tailscale HTTPS) -->
<script defer src="https://debian.tail6de15d.ts.net/script.js" data-website-id="0de93f25-d93c-43b2-8df1-b71cb55bb087"></script>
<script defer src="https://debian.tail6de15d.ts.net/recorder.js" data-website-id="0de93f25-d93c-43b2-8df1-b71cb55bb087"></script>
